a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

span {
  font-size: 9pt; }

.top-menu {
  background-color: rgba(0, 0, 0, 0.85); }
  .top-menu a {
    color: #999; }
  .top-menu a:hover {
    color: #FFFF; }

.rodape {
  background-color: #F8F9FA; }

.card-title {
  font-weight: bold; }

.card-post {
  width: 100%;
  max-height: 220px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  /*border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;*/ }

.titulo h2 {
  font-weight: bold; }

.pag-texto {
  display: block;
  margin-top: 80px; }
  .pag-texto .card {
    border: 0px solid; }
  .pag-texto .card-title, .pag-texto .card-subtitle {
    text-align: center; }
  .pag-texto .card-text {
    margin-top: 80px;
    text-align: justify !important;
    line-height: 2; }
  .pag-texto .autor {
    font-weight: bold; }
