a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

span {
  font-size: 9pt; }

.top-menu {
  background-color: rgba(0, 0, 0, 0.85); }
  .top-menu a {
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .top-menu a:hover {
    color: #FFFF; }
  .top-menu .link-fto {
    float: right;
    margin-right: 30px;
    border: 1px solid red; }
    .top-menu .link-fto .fto-menu {
      width: 50px; }

.rodape {
  background-color: #F8F9FA; }

.card-title {
  font-weight: bold; }

.card-post {
  width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  /*border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;*/ }
  .card-post .link-autor {
    font-weight: bold; }
  .card-post .card-title {
    margin-top: 20px; }

.titulo h2 {
  font-weight: bold; }

.pag-texto {
  display: block;
  margin-top: 80px; }
  .pag-texto .card {
    border: 0px solid; }
  .pag-texto .card-title, .pag-texto .card-subtitle {
    text-align: center; }
  .pag-texto .card-text {
    margin-top: 80px;
    text-align: justify !important;
    line-height: 2; }
  .pag-texto .autor {
    font-weight: bold; }

.container-login {
  padding: 40px;
  box-shadow: -5px 9px 17px -10px rgba(0, 0, 0, 0.75); }
  .container-login .form-login {
    margin-top: 40px; }
    .container-login .form-login input:active {
      border-color: red; }
  .container-login .btn {
    width: 100%; }
  .container-login .btn-cadastrar {
    margin-top: 10px;
    background-color: #F5F5F5;
    color: #999; }
